#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=es --xlayouts='es'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=frieserLaptop
# Root password
rootpw --iscrypted $6$1hymT35BLZ2sBlBk$VdyU1NC9oVZtsOUvfYO0/LDdmf3nGrSXzWjnvgSYmzwDIT34Y8mbMlIyUqLq4m0QYbGINLsXW.mB6KoNj4CXF0
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Madrid --isUtc
user --groups=wheel --name=frieser --password=$6$icMvYO6l/hXwJUii$f0eUT5eMIhtocsJZe2M9b2Yfv7/wKoDAsRabrQXr8usoMEZwOT5uZ4HwxPYq6pRsFAskkJdTdyQR.MYb2fsrX0 --iscrypted --gecos="Hector"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^workstation-product-environment
@ansible-node
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
