#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=es --xlayouts='es'
# System language
lang en_GB.UTF-8

# Network information
network  --hostname=frieserLaptop
# Root password
rootpw --iscrypted $6$JpqyoD5SzrYoWw1Z$Uye5taU/9tfbvSUSRLia/prhYyJNkLK1h2e2cfK9zo3qvuHmHHbKpykCNNuSuTlsSGTj1bgCISYtSM0ewAe5m.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Madrid --isUtc
user --groups=wheel --name=frieser --password=$6$xOM1zqX0gOYCPHu3$xIr9jYniNB4HFOpIdCdlV6gukXkhVNe44zbVutn5nomptxb1U5Oyv2ThiiJcJ8DqNhPyeNJamZQEigsg8IvYy/ --iscrypted --gecos="Hector"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
chrony

%end


%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
